{% extends 'base.html' %}

{%  block content %}
<div class="row justify-content-center">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">2FA</h4>
        </div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('main.verify_2fa') }}">
                <div class="mb-3">
                    <label for="2fa" class="form-label">2FA Code</label>
                    <input type="text" class="form-control" id="token" name="token" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Verify</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}