Flask==2.2.5
Werkzeug==2.2.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
gunicorn==21.2.0
python-dotenv==1.0.0
cryptography==41.0.7
psycopg2-binary==2.9.9
pyotp==2.9.0
Pillow==11.3.0
qrcode==8.2